<%- include('views/partials/admin/setup_election'); %>
<%- include('views/partials/admin/election_created'); %>
<%- include('views/partials/admin/vote_period'); %>

<script src="./js/vocdoni_admin-bundle.js"></script>

<style>           
.logo-vocdoni {       
  margin: 1.5rem auto;     
  display: block;
  width: 10rem;       
  text-align: center; 
}                     
</style>              

<div class="row">
  <a href="https://vocdoni.io/" class="logo-vocdoni" >
    Powered by
    <img src="./images/vocdoni.svg">
  </a>                                                      
</div>                                                      

