<main class="focus">
  <div class="focus__top">
    <a aria-label="Go to front page" href="http://localhost:3000/">
      <span>Ebert, Stiedemann and Crona</span>
    </a>
    <nav class="focus__user topbar__user__logged">
    </nav>
    <a class="focus__exit" href="/processes/est-fugit/f/134/elections/1">
      <span class="focus__x-icon" aria-hidden="true">×</span>
      Exit
    </a></div>


    <div class="vote-wrapper"
         data-election-unique-id="8b1213852775459baa6d887d7e727d4d"
         data-voter-id="46b41abc50fa446ebdd9bc5f6694d6a8"
         data-scheme-name="vocdoni"
         >

         <div id="step-0" class="focus__step "
                          data-toggler=".hide">
           <div class="focus__header">
             <div class="row">
               <div class="focus__steps">
                 <strong>
                   Question 1 of 1
                 </strong>
               </div>
               <div class="heading5 focus__header-title">
                 Laboriosam aliquid nostrum aut quia.
               </div>
             </div>
           </div>

           <div class="focus__content evote">
             <div class="row">
               <h1 class="heading2">
                 What is your favorite british band?
               </h1>

               <div class="evote__options" data-max-selection="1" data-min-selection="1">
                 <label data-disabled-by="#check-nota" class="evote__check evote__card">
                   <input type="checkbox" name="question-2" id="question-2" value="answer-3" class="answer_input" />

                   <span class="evote__check-label">
                     The Beatles
                     <span class="evote__check-extra">
                       <button type="button" class="link" data-toggle="show-focus-modal-answer-3">
                         More information
                       </button>
                     </span>
                   </span>
                 </label>
                 <div class="reveal" id="show-focus-modal-answer-3" data-reveal>
                   <div class="reveal__header">
                     <h3 class="reveal__title">The Beatles</h3>
                     <button class="close-button" data-close aria-label="Close modal"
                                                             type="button">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                   <div class="row m-bottom">
                     <div class="columns">
                       <div class="section">
                         <p>The BeatlesThe Beatles</p>
                       </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="columns medium-4 medium-centered">
                       <button class="button expanded" data-close>
                         Close
                       </button>
                     </div>
                   </div>
                 </div>

                 <label data-disabled-by="#check-nota" class="evote__check evote__card">
                   <input type="checkbox" name="question-2" id="question-2" value="answer-4" class="answer_input" />

                   <span class="evote__check-label">
                     The Rolling Stones
                   </span>
                 </label>

                 <label data-disabled-by="#check-nota" class="evote__check evote__card">
                   <input type="checkbox" name="question-2" id="question-2" value="answer-5" class="answer_input" />

                   <span class="evote__check-label">
                     Oasis
                   </span>
                 </label>

                 <label data-disabled-by="#check-nota" class="evote__check evote__card">
                   <input type="checkbox" name="question-2" id="question-2" value="answer-6" class="answer_input" />

                   <span class="evote__check-label">
                     Blur
                   </span>
                 </label>

               </div>

             </div>
           </div>

           <div class="focus__footer">
             <div class="row">

               <a></a>


               <span class="button focus__next disabled-continue disabled">
                 Next  <svg aria-label="chevron-right" role="img" aria-hidden="true" class="icon--chevron-right icon icon"><title>chevron-right</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-chevron-right"></use></svg>
               </span>

               <a class="button focus__next enabled-continue" data-toggle="step-1 step-0" href="#">Next  <svg aria-label="chevron-right" role="img" aria-hidden="true" class="icon--chevron-right icon icon"><title>chevron-right</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-chevron-right"></use></svg></a>
             </div>
           </div>


         </div>

         <div id="step-1" class="hide focus__step" data-toggler=".hide">
           <div class="focus__header">
             <div class="row">
               <div class="focus__steps"><strong>Confirm your vote</strong></div>
               <div class="heading5 focus__header-title">
                 Laboriosam aliquid nostrum aut quia.
               </div>
             </div>
           </div>


           <div class="focus__content evote">
             <div class="row">
               <h1 class="heading2">
                 Confirm your vote
               </h1>
               <p>
               Here is a summary of the vote you are about to cast. <br> Please confirm your vote or edit your answers.
               </p>

               <dl class="evote__confirm">
                 <dt>
                   <strong class="evote__confirm-label">
                     Question 1:
                   </strong>
                   <strong>
                     What is your favorite british band?
                   </strong>
                   <dd id="edit-step-1">
                     <strong class="evote__confirm-label">
                       Answer
                       (<a class="evote__edit-answer" data-toggle="step-0 step-1" href="#">edit<span class='show-for-sr'>
                           answer 1</span></a>):
                     </strong>
                     <ul>
                       <li class="confirmed_answer hide" id="answer-3">
                         The Beatles
                       </li>
                       <li class="confirmed_answer hide" id="answer-4">
                         The Rolling Stones
                       </li>
                       <li class="confirmed_answer hide" id="answer-5">
                         Oasis
                       </li>
                       <li class="confirmed_answer hide" id="answer-6">
                         Blur
                       </li>
                     </ul>
                   </dd>
                 </dt>
               </dl>
             </div>
           </div>

           <div class="focus__footer">
             <div class="row">
               <a class="focus__back" data-toggle="step-0 step-1" href="#"><svg aria-label="chevron-left" role="img" aria-hidden="true" class="icon--chevron-left icon icon"><title>chevron-left</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-chevron-left"></use></svg> Back</a>

               <a class="button focus__next confirm" data-toggle="encrypting step-1" href="#">
                 Confirm
                 <svg aria-label="chevron-right" role="img" aria-hidden="true" class="icon--chevron-right icon icon"><title>chevron-right</title><use href="/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg#icon-chevron-right"></use></svg>
               </a>  </div>
           </div>


         </div>

         <div id="encrypting" class="hide focus__step" data-toggler=".hide">
           <div class="focus__header">
             <div class="row">
               <div class="focus__steps"><strong>Encrypting the vote</strong></div>
               <div class="heading5 focus__header-title">
                 Laboriosam aliquid nostrum aut quia.
               </div>
             </div>
           </div>

           <div class="focus__content evote">
             <div class="row">
               <h1 class="heading2">
                 Encrypting the vote...
               </h1>
               <div class="evote__encrypting" aria-hidden="true">
                 <div class="evote__dot"></div>
                 <div class="evote__dot"></div>
                 <div class="evote__dot"></div>
                 <div class="evote__dot"></div>
                 <div class="evote__dot"></div>
                 <div class="evote__dot"></div>
                 <div class="evote__dot"></div>
               </div>
               <p>
               Your ballot is being encrypted to ensure the secret of your vote.
               </p>
             </div>
           </div>

         </div>

         <div id="ballot_decision" class="hide focus__step" data-redirect_url=".hide">
           <div class="focus__header">
             <div class="row">
               <div class="focus__steps"><strong>Cast or audit your vote</strong></div>
               <div class="heading5 focus__header-title">
                 Laboriosam aliquid nostrum aut quia.
               </div>
             </div>
           </div>


           <div class="focus__content evote ballot_decision">
             <div class="row">
               <h1 class="heading2">
                 Ballot is encrypted: cast it or audit it
               </h1>

               <div class="evote__content">
                 <p>Here, you have the options to cast your ballot so that it&#39;s properly counted or, alternatively, you can audit that your ballot was correctly encrypted. For security reasons, auditing your ballot will spoil it. That means, to cast your vote, you will need to restart the voting process.</p>
                 <p>
                 Your ballot identifier is:
                 <strong class="ballot-hash"></strong>
                 <a class="audit_ballot">( Audit ballot )</a>
                 </p>
               </div>

               <button type="submit" name="commit" class="button cast_ballot">Cast ballot to finish your vote</button>

               <a class="button back hide" href="/processes/est-fugit/f/134/elections/1">
                 Start voting process again
               </a>  </div>
           </div>

         </div>
    </div>
</main>
