<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboriosam aliquid nostrum aut quia.</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="VNuCr-iXcG6o-D5x_jufMzurpLF1RYLiF93xW70M7rwjbXkwXkkV79qqe_xYFqRYRca1Mn5GIHPHLhoSmFhhwA" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" href="/processes/est-fugit/f/134/elections/1/votes/new?component_id=134&amp;locale=en&amp;participatory_process_slug=est-fugit" hreflang="en">
    <link rel="alternate" href="/processes/est-fugit/f/134/elections/1/votes/new?component_id=134&amp;locale=ca&amp;participatory_process_slug=est-fugit" hreflang="ca">
    <link rel="alternate" href="/processes/est-fugit/f/134/elections/1/votes/new?component_id=134&amp;locale=es&amp;participatory_process_slug=est-fugit" hreflang="es">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:title" content=" Add component: Vocdoni">
    <meta name="twitter:description" content="Add component: Vocdoni">
    <meta name="twitter:image" content="">

    <meta property="og:url" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content=" Add component: Vocdoni">
    <meta property="og:description" content="Add component: Vocdoni">
    <meta property="og:image" content="">
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="stylesheet" media="all" href="/decidim-packs/css/decidim_core-6ef3a266.css" />
    <link rel="stylesheet" media="screen" href="/decidim-packs/css/decidim_dev-c2ce71bf.css" />
    <link rel="icon" type="image/x-icon" href="./favicon.png">
  </head>
  <body>
    <%- include('views/partials/voter'); %>

    <script src="/decidim-packs/js/2415-9492765e62d288b69027.js"></script>
    <script src="/decidim-packs/js/6795-116a16eec280038835b2.js"></script>
    <script src="/decidim-packs/js/6690-64eec0bd34af76ac1e31.js"></script>
    <script src="/decidim-packs/js/2619-56bb757fa7718458d4d1.js"></script>
    <script src="/decidim-packs/js/4705-7edc07a0cde47dee5880.js"></script>
    <script src="/decidim-packs/js/4061-d183b39c1cb40eef8d22.js"></script>
    <script src="/decidim-packs/js/8494-346b95c06cf9596caafb.js"></script>
    <script src="/decidim-packs/js/8531-8361744f7214378d9dce.js"></script>
    <script src="/decidim-packs/js/3637-5dedfb111e7b05e3922c.js"></script>
    <script src="/decidim-packs/js/decidim_core-d72a6be7d81925a8ebab.js"></script>
    <script>
      Decidim.config.set({"icons_path":"/decidim-packs/media/images/icons-c4fd0f43651700b0c768.svg","messages":{"selfxssWarning":{"title":"Stop!","description":"This browser feature is meant for developers and you should not paste anything here if you were asked to do so. Pasting content in this window can compromise your privacy and give hackers access to your account."},"mentionsModal":{"removeRecipient":"Remove recipient %name%"}},"external_domain_whitelist":["localhost","decidim.org","github.com"],"consent_cookie_name":"decidim-consent"});
      Decidim.InputCharacterCounter.configureMessages({"charactersAtLeast":{"one":"At least %count% character","other":"At least %count% characters"},"charactersLeft":{"one":"%count% character left","other":"%count% characters left"}});
      Decidim.ExternalLink.configureMessages({"externalLink":"External link"});
      Decidim.FormValidator.configureMessages({"correctErrors":"There are errors on the form, please correct them to continue."});
    </script>
    <script src="/decidim-packs/js/9098-87ae4c8a99f37adffdfb.js" defer="defer"></script>
    <script src="/decidim-packs/js/8276-b5a118e5ee7ee2b2386c.js" defer="defer"></script>
    <script src="/decidim-packs/js/4486-c962631e9df3d8c3ad83.js" defer="defer"></script>
    <script src="/decidim-packs/js/8120-127a29c0e9e160d13eed.js" defer="defer"></script>
    <script src="/decidim-packs/js/9115-5e930cfc9abcaaaee4c7.js"></script>
    <script src="./js/vocdoni_voter_bundle.js"></script>
</html>
