<div id="calculated-results-step" class="process-content hide">
  <div class="jcard">
    <div class="card-divider">
      <h2 class="card-title">
        Laboriosam aliquid nostrum aut quia.
      </h2>
    </div>

    <div class="card-section">

      <span class="text-success">Setup election</span>
      &nbsp;&gt;&nbsp;
      <span class="text-success">Election created</span>
      &nbsp;&gt;&nbsp;
      <span class="text-success">Vote period</span>
      &nbsp;&gt;&nbsp;
      <span class="text-success">Vote period ended</span>
      &nbsp;&gt;&nbsp;
      <span class="text-success">Tally process</span>
      &nbsp;&gt;&nbsp;
      <span class="text-warning">Calculated results</span>
      &nbsp;&gt;&nbsp;
      <span class="text-muted">Results published</span>
    </div>
  </div>

  <form class="form step create_election" id="new_setup_" novalidate="novalidate" data-abide="true" data-live-validate="true" data-validate-on-blur="true" action="#" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off" /><input type="hidden" name="authenticity_token" value="MeGwyLCBBRdMJxXV6UYmG231YFXkhy7a1cevJPg56MnGCWqJC2O2ot-PS9oae9LjM61x5gZX1L4RxIuXev795g" autocomplete="off" />
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Results published</h2>
      </div>

      <div class="card-section">

        <p>You can watch it out at the <a class="js-vocdoni-election-created-link" href="#" target="_blank">Vocdoni Explorer</a>.</p>


        <div class="table-scroll">
          <ul class="accordion mb-m evote__preview" data-accordion="7rhw46-accordion" data-multi-expand="true" data-allow-all-closed="true">
            <li class="accordion-item evote__preview-question is-active" data-accordion-item="">
              <a href="#" class="accordion-title flex--sbc" aria-controls="rxoa5i-accordion" id="rxoa5i-accordion-label" aria-expanded="true">Question: What is your favourite British band?</a>
              <div class="accordion-content" data-tab-content="" role="region" aria-labelledby="rxoa5i-accordion-label" aria-hidden="false" id="rxoa5i-accordion" style="display: block;">
                <div>
                  <table>
                    <thead>
                      <tr>
                        <th data-accessibility-violation="true">Answer</th>
                        <th data-accessibility-violation="true">Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>The Beatles</td>
                        <td class="text-muted js-answer-0"></td>
                      </tr>
                      <tr>
                        <td>The Rolling Stones</td>
                        <td class="text-muted js-answer-1"></td>
                      </tr>
                      <tr>
                        <td>Oasis</td>
                        <td class="text-muted js-answer-2"></td>
                      <tr>
                        <td>Blur</td>
                        <td class="text-muted js-answer-3"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td class="text-muted js-answers-total"></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="callout primary hide">
          <pre class="js-election-metadata"></pre>
        </div>
      </div>
    </div>

    <div class="button--double form-general-submit">
      <button disabled="true" class="button js-signin-metamask-button">Get election metadata</button>
    </div>
  </form>
</div>

