<div id="setup-wallet-step" class="process-content hide">
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title">
        Laboriosam aliquid nostrum aut quia.
      </h2>
    </div>

    <div class="card-section">
      <div class="card-section">
        <div class="callout warning js-wallet-any-message">
          <h2 class="h4">There isn't any Wallet for this Organization</h2>
          <p>You need to set up a Wallet first to continue.</p>
        </div>

        <div class="callout success js-wallet-created-message hide">
          <h2 class="h4">Wallet created</h2>
          <p>Save the mnemonic phrase in a safe place and don't share with anyone.</p>
          <input type="text" class="js-wallet-created-phrase" />
          <a href="#" onclick="window.location.reload();">Go to the next step</a>
        </div>
      </div>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <button class="button js-create-wallet">Create a Wallet for this Organization</button>
  </div>
</div>
